img.card-img-top {
  height: 140px;
}

.card-footer {
  background-color: #eee;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-footer a {
  margin: 0.25rem;
}
